<header class="site-header">
  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/about/">About</a>
        <a class="page-link" href="//javadev.org/chat/">Telegram</a>
        <a class="page-link" href="/sitemap/">SiteMap</a>
      </div>
    </nav>
  </div>
</header>
